<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); %>
<body>
    <%- include('../partials/header', {pagina: 'about'}); %>

    <main>
        <div class="cabecalho">
            <h1>Sobre mim</h1>
            <p>Sou estudante de programação Backend com Node.js.</p>
        </div>
        <div>
            <li>
                <ul>Home</ul>
                <ul>Sobre</ul>
            </li>
        </div>
    </main>
    <%- include('../partials/footer'); %>
</body>
</html>